*{


    padding-left: 10px;
    margin:0;
    padding:0;
    line-height: 15px;



}

ul{



    text-decoration: none;
    position: relative;
    bottom: 8px;
    left: 438px;




}



.welcome{



    font-weight: 900;
    font-size: 35px;
    position: relative;
    left: -10px;
}






.img1{

    clip-path: circle();
    position: relative;
    right: 90px;
    top: 0px;
    z-index: 3;
    
    
    
    }


a{


    text-decoration: none;
    padding: 40px;
    color: white;



}


li{


    bottom: 10px;
    left: 471px;
    list-style: none;
    position: relative;
    display: inline-block;



}



.nav{
    background-color: rgb(0,0,0,0.2);
    border: 1px solid #24252a;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    top: 37px;
    color: wheat;
    /* position: fixed; */
}

.bo{



    color: white;



}



.me{

position: relative;
    margin-left: 20px;
color:rgb(18 235 105);



}




.html{




    text-decoration: wavy underline;
    text-align: center;
    line-height: 80px;
    position: relative;
    bottom: 0;
    left: 567px;
    font-size: 30px;
    z-index: 1;



}



.ht2{



    position: relative;
    color: aliceblue;
    left: 90px;


}



.ht3{



    position: relative;
    right: 38px;
    top: 17px;
    color: aliceblue;



}



.html1{



    height: 15vh;
    width: 20vw;
    border: 2px solid rgb(66, 47, 47);
    margin-left: 20px;
    margin-top:5px;


} 




.code2{

border: 1px solid black;
height: 130px;
position: relative;
width: 41%;

}




.code1{

height: 70px;
position: relative;
border: 2px solid black;
z-index: 2;
left: 20px;




}





.img{



    position: relative;
    left: 549px;
    line-height: 100px;
    text-decoration: wavy underline;



}




.img2{



    position: relative;
    z-index: 1;
  
    margin-left: 20px;


}



.i-note{



    position: relative;
    z-index: 1;
    margin-left: 35px;
    line-height: 10px;
}



.meta1{



        line-height: 86px;
        position: relative;
        z-index: 1;
        margin-left: 493px;


}




.html2{



    position: relative;
    z-index: 1;
    margin-left: 20px;
}



.meta{



    position: relative;
    top: 76px;
    z-index: 1;
    margin-left: 20px;
    color:rgb(18 235 105);
    position: relative;





}



.background{



    background-image: url(../images/ii.jpg);
    height: 100%;
    width: 100%;
    position: fixed;
    background-size: cover;
    z-index: 0.1;
    opacity: 0.7;



}


.foot2{



    position: relative;


    left: 590px;




}





.foot1{




    position: relative;
    left:535px;



    color: rgb(200, 196, 196);



}




.foot{



    color: rgb(182, 170, 170);
    left: 460px;
    position: relative;

    text-align: center;



}



footer{


    top: 2000px;
    background-color: rgb(90, 20, 35);
    z-index: 5;
    position: relative;



}

  

.d{


 text-decoration: wavy underline;   
 color: rgb(181, 194, 3);
 font-size: large;




}





.htm2{



    margin-left:30px;



}



.i-note1{


    margin-left: 60px;





}




.i-note2{



    margin-left: 80px;



}



.exm{


    position: relative;
    left: 190px;

}




@media screen and (max-width:800px){
    
    
    
    
    .html {


        text-decoration: wavy underline;
        text-align: center;
        line-height: 80px;
        position: relative;
        bottom: 0;
        left: 175px;
        font-size: 30px;
        z-index: 1;

    }   

 
.img{

    
        position: relative;
        left: 85px;
        text-decoration: wavy underline;
    


}




    .html1 {
        height: 10vh;
        width: 48vw;
        border: 2px solid rgb(66, 47, 47);
        margin-left: 20px;
        margin-top: 5px;
    }



    body{



        width: 305%;

    }



footer{


 
    width: 200%;

}



.foot1{


position:relative;
left: 109px;



}



.foot2{



position: relative;
left: 185px;


}




.foot{


    position: relative;
    left: 19px;
}



}
