.nav{
    background-color: #24252a;
    border: 1px solid #24252a;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    bottom: 0;
    color: wheat;
}


.name{

      position: relative;
      top: 10px;

}

.about{
    text-align: justify;
}




.b{
    font-weight:900;
     font-size: 20px;
     color: #24252a;


}



*{
    margin: 0;
    padding: 0;
}



li{


    list-style: none;
    position: relative;
    display: inline-block;



}

ul{



    text-decoration: none;
    position: relative;
    bottom: 8px;
    left: 438px;




}
.register{




    position: relative;
    left: 384px;
    background-color: rgb(64,168,255);
    border: 1px solid #24252a;
    border-radius: 100px;
    width:112px;
    height: 24px;




}



a{


    text-decoration: none;
    padding: 40px;
    color: white;



}




.foot{


    margin-top: 500px;


}


.i1{



    position: relative;
    left: 30%;


}
.text{


    color: white;
    position: relative;
    z-index: 2;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;


}



.i2{


    position: relative;
    top: 39px;
    left: 90px;


}
.i3{


    position: relative;
    top: 125px;
    right: 25px;


}
.background{


    background-image: url('../hi.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    width: 100%;
    position: fixed;


}
@media screen and (max-width:900px) {
    .background{



        background-image: url('../hi.jpg');
        height: 244vh;
        background-repeat: repeat;
        background-size: cover;
        opacity: 0.7;
      
        width: 100%;
        position: fixed;



    }




    a{ 


        padding: 11px;


    }



    li{



        position: relative;
        right: 353px;
    }


    .register {




        /* position: relative;
        background-color: rgb(64,168,255);
        border: 1px solid #24252a;
        border-radius: 100px;
        width: 112px;
        height: 24px; */
        display: none;



    }


    .about{


        position: relative;
        top:20px;



    }

    .i1{




        font-size:x-small;
        position: relative;
        left: 26px;
        top: 96px;



    }
    .i2{



        position: relative;
        left: 119px;
        top: 45px;
        font-size: x-small;



    }
    .i3 {



        position: relative;
        top: 125px;
        right: -64px;


      }
      .text{



          position: relative;
          z-index: 2;
          color: aliceblue;
          font-size: small;


      }
      .foot{

    
        margin-top: 1140px;

      }
      .name{


          position: relative;
          top:9px;


      }
}